.login {
    /* background-color: #effdf6; */
    background: linear-gradient(0deg, rgba(239,253,246,1) 0%, rgba(181,254,151,1) 100%);

}
.rabbit {
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
    font-size: 1.8rem;
    color: #212549;
    /* color:#FF7F50;
    color:#8B4513; */
}
.firebaseui-idp-icon {
    height: 20px;
    width: 20px;
}
.firebaseui-idp-button, .firebaseui-tenant-button {
    max-width: 300px;
    min-height: 60px;
    padding: 8px 50px;
}
.firebaseui-idp-text {
    font-size: 18px;
}
.mdl-button {
    border-radius: 5px;
}
.footer-item {
    color: rgb(9, 104, 37);
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-left: 0.75rem !important;
    margin-right: 0.75rem !important;
}
footer.footer a {
    color: #7a7a7a;
}
.style_1 {
    margin-top: 40px;
    margin-bottom: 80px;
}
.style_2 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.style_3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.style_4 {
    display: inline;
}
.spinner-border {
    width: 100px;
    height: 100px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.custom-color {
    background: rgb(63,209,251);
    background: radial-gradient(circle, rgba(63,209,251,1) 0%, rgba(101,252,70,1) 100%);
}

.cv-week, .cv-weekdays {
    min-height: 8em !important
}

.cv-header, .cv-header button {
    border-style: solid !important;
    border-color: white !important;
}
.theme-default .cv-header, .theme-default .cv-header-day {
    background-color: white !important;
}

.modal-title {
    margin-left: auto;
    color: white;
}
.theme-default .cv-item {
    border-color: transparent !important;
    border-radius: 0.5em !important;
    background-color: transparent !important;
    text-overflow: ellipsis !important;
    font-size: 30px !important;
}
.btn-success:not(:disabled):not(.disabled).focus {
    outline: none !important;
    box-shadow: none;
}
.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #bbe994;
    background-color: #bbe994;
}
.btn-info {
    background-color: #5ad7eb;
    border-color: #5ad7eb;
}
.btn-primary {
    background-color: #7cbbf3;
    border-color: #7cbbf3;
}
.rcorners1 {
    background: #f8d5d1;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  .rcorners2 {
    background: rgb(252, 201, 108);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  .rcorners3 {
    background: #AFEEEE;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  .rcorners4 {
    background: #a8f5a8;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  .rcorners5 {
    background: #dbdbfa;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
  }
  .emphasis {
    color: #212529;
    font-size:20px;
  }
  