<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rabbit.tracker.mapper.LogMapper">
	<select id="checkLoginUser" resultType="java.lang.Boolean">
       SELECT 
       EXISTS
       (SELECT 
        * 
       FROM 
       log_user 
       WHERE 
       user_uid = #{userUid}) AS check_loginUser
	</select>
	<insert id="addLoginUser" parameterType="java.lang.String">
		INSERT
		INTO log_user(
		user_uid
		)
		VALUES(
		#{userUid}
		)
	</insert>
	<insert id="create" parameterType="com.rabbit.tracker.form.LogForm" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO log_info(
		user_uid,
		mood,
		selected_one,
		selected_two,
		selected_three,
		memo,
		date,
		delete_flg
		)
		VALUES(
		#{userUid},
		#{mood},
		#{selectedOne},
		#{selectedTwo},
		#{selectedThree},
		#{memo},
		#{date},
		0
		)
	</insert>
	<update id="edit" parameterType="com.rabbit.tracker.form.LogForm">
		UPDATE
		log_info
		SET
		mood = #{mood},
		selected_one = #{selectedOne},
		selected_two = #{selectedTwo},
		selected_three = #{selectedThree},
		memo = #{memo}
		WHERE
		id = #{id}
		AND
		user_uid = #{userUid}
	</update>
	<update id="delete" parameterType="com.rabbit.tracker.form.LogForm">
		UPDATE
		log_info
		SET
		delete_flg = 1
		WHERE
		id = #{id}
		AND
		user_uid = #{userUid}
	</update>
	<select id="getAllLog" resultType="com.rabbit.tracker.entity.LogEntity">
		SELECT 
		*
		FROM
		log_info
		WHERE
		user_uid = #{userUid}
		AND
		delete_flg = 0
	</select>
</mapper>